// Colores base
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$active-blue: hsl(245, 83%, 68%);

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$font-base: 'Red Hat Display', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pale-blue;
    font-family: $font-base;
}

a {
    text-align: center;
    text-decoration: none;
}

.contenido {
    width: 100vw;
    // height: 100vh;
    background-color: $pale-blue;

    .tarjeta {
        width: 340px;
        margin: 0px auto;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        border-radius: 1.6rem;
        overflow: hidden;
        
        .tarjeta-imagen{
            background-color: hsl(163, 76%, 69%);
            display: flex;
            flex-direction: column;

            .img-principal {
                // object-fit: contain;
                width: 100%;
            }
            
        }

        .tarjeta-info {
            background-color: white;
            padding: 1.6rem;

            .detalles-info {
                background-color: white;
                display: flex;
                flex-direction: column;

                .titulo {
                    font-weight: 900;
                    text-align: center;
                    color: $dark-blue;
                    padding-top: 10px;
                }

                .descripcion {
                    font-weight: 500;
                    text-align: center;
                    padding-top: 20px;
                    line-height: 1.5rem;
                    color: $desaturated-blue;
                }

                .producto-info {
                    display: flex;
                    background-color: $very-pale-blue;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 1.2rem;
                    margin-bottom: 1.2rem;
                    border-radius: 0.5rem;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    
                    img {
                        margin-right: 10px;
                        margin-left: 10px;
                        width: 48px;
                        height: 48px;
                    }
                    .producto-check {
                        width: 100%;
                        // background-color: greenyellow;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 10px;
                        padding-left: 10px;
                        h2 {
                            font-size: 0.9rem;
                            font-weight: 700;
                            color: $dark-blue;
                            line-height: 1.3rem;
                            // padding-bottom: 5px;
                            span {
                                font-weight: 500;
                                color: $desaturated-blue;                                
                            }
                        }
                        a {
                            color: $bright-blue;
                            font-weight: 700;
                            font-size: 13px; 
                            text-decoration: underline;
                        }
                        a:active {
                            color: $active-blue;
                        }
                    }
                }

                .btn-pago {
                    background-color: $bright-blue;
                    color: white;
                    border-radius: 0.8rem;
                    padding-top: 0.6rem;
                    padding-bottom: 0.8rem;
                    font-size: 14px;
                    font-weight: 700;
                    box-shadow: 0px 10px 10px $pale-blue;
                }
                .btn-pago:active {
                    background-color: $active-blue;
                }

                .btn-cancel {
                    color: $desaturated-blue;
                    font-size: 14px;
                    font-weight: 900;
                    width: auto;
                    margin: 0 auto;
                    margin-top: 1rem;
                }
                .btn-cancel:active {
                    color: $dark-blue;
                    
                }
            }
        }

    }
}

@media (min-width: 992px) {
    body {
        background-color: $pale-blue;
        background-image: url("../images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-position-y: -60%;
    }
    .contenido {
        background-color: transparent;
    }
}

//Frontend Mentor styles
.attribution {
    margin-top: 1rem;
    font-size: 12px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
